<div class="survey_home">
<h3><%=@survey.title%></h3>
<h4> Author: <%= @survey.user.user_name %></h4>
<h4> Last Updated: <%= @survey.updated_at %></h4>

  <!--display survey questions if any....-->
  <% if (questions = @survey.questions).length !=0 %>
    <% @survey.questions.each do |q| %>
    <div class="question"> <a href="/surveys/<%= @survey.id %>/questions/<%= q.id %>/edit"><%= q.question %></a></div>
      <br>
    <%  end %>
  <%  end %>
<div class="save_new_question">

</div>
</div>
<!--New question button for adding a new question -->


<a id="new_question" href='/surveys/<%= @survey.id %>/questions/new'>New Question</a>

